#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}

button {
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}

button:active {
  transform: scale(0.98);
}

input,
textarea {
  transition: all 0.15s ease-in-out;
}

input:focus,
textarea:focus {
  outline: none;
}
